{% block stylesheet %}
    {{ encore_entry_link_tags('datepicker') }}
{% endblock %}
{{ form_start(form) }}
<div class="col">
    <div class="row">
        <div class="text-center">
            {{ form_row(form.startDate, { 'id':'startDate','attr': {'class': 'endListener'}}) }}
            {{ form_row(form.endDate, {'id':'endDate','attr': {'class': 'endListener'}}) }}
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col ">
        <p class="text-center">Hotel</p>
        <select id="hID" name="hID">
            <option class="hotel" value="0">Hotel</option>
            {% for hotel in hotelList %}
                <option class="hotel" value="{{ hotel.id }}">{{ hotel.name }}</option>
            {% endfor %}
        </select>
        <p>Suite id</p>
        <select id="sID" name="sID" class="endListener">
        </select>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h3 class="h3"> Prix total</h3>
        <p id="price">0</p>
        <h3 class="h3">Prix/nuit</h3>
        <p id="nPrice">0</p>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <button id="okBtn" class="btn btn-primary">{{ button_label|default('Reservez') }}</button>
        <button id="iBtn" class="btn btn-danger btn-sm" disabled>Dates indiponibles</button>
    </div>
</div>

{{ form_end(form) }}
{% block javascripts %}
    {{ encore_entry_script_tags('datepicker') }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let hotel = document.querySelector('#hID');
        let suites = document.querySelector('#sID');
        let price = document.querySelector('#price');
        let startDate = document.querySelector('#startDate');
        let endDate = document.querySelector('#endDate');
        let nPrice = document.querySelector('#nPrice');
        let endListener = document.querySelectorAll('.endListener');
        let iBtn = document.querySelector('#iBtn');
        let okBtn = document.querySelector('#okBtn');
        let sDate;
        let eDate;
        okBtn.disabled = true;
        iBtn.style.display = 'none';
        suites.style.display = 'none';
        hotel.addEventListener('change', function (event) {
            event.preventDefault();
            let hid = hotel.value;
            let url = "/reservation/getsuite/" + hid;
            axios.get(url).then(function (response) {
                const suiteList = response.data.suites;
                suites.style.display = 'inline-block';
                suites.innerHTML = '';
                let sOpt = document.createElement('option');
                sOpt.innerHTML = 'Suite';
                suites.appendChild(sOpt);
                suiteList.forEach(e => {
                    let opt = document.createElement('option');
                    opt.className = e.price;
                    opt.value = e.id;
                    opt.id = e.id;
                    opt.innerHTML = e.name;
                    suites.appendChild(opt);
                })

            })
        });
        endListener.forEach(item => {
            item.addEventListener('change', function (event) {
                sDate = new Date(startDate.value);
                eDate = new Date(endDate.value);
                const diffTime = Math.abs(eDate - sDate);
                const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                let priceOf = parseInt(suites.children[suites.selectedIndex].className)
                if (!isNaN(diffDays) && (sDate < eDate)) {

                    let sId = suites.children[suites.selectedIndex].id;
                    let url = '/reservation/getdispo/' + sId;
                    axios.post(url, {
                        'startDate': sDate,
                        'endDate': eDate,
                        'suiteId': sId
                    }).then(function (response) {
                        let data = response.data;
                        let isAvailable = data.isAvailable;
                        if (!isAvailable) {
                            okBtn.disabled = true;
                            okBtn.style.display = 'none';
                            iBtn.disabled = true;
                            iBtn.style.display = 'inline-block';
                        } else {
                            okBtn.disabled = false;
                            okBtn.style.display = 'inline-block';
                            iBtn.style.display = 'none';
                        }
                    }).catch(function (err) {
                        console.log(err);
                    })

                    price.textContent = priceOf * diffDays + '$ ';

                } else {
                    price.textContent = 'Vous devez remplir correctement les dates '
                }
                nPrice.textContent = priceOf + '$';
            })
        })

    </script>


{% endblock %}