{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1 class="h1 text-center">Mes reservations</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>De</th>
            <th>Jusqu’à</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            {% if is_granted('ROLE_USER') %}
                {% if (reservation.getUserId() == app.user.id ) %}
                    <tr>
                        <td class="rId">{{ reservation.id }}</td>
                        <td>{{ reservation.startDate ? reservation.startDate|date('Y-m-d') : '' }}</td>
                        <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d') : '' }}</td>
                        <td>
                            <a class="btn btn-sm btn-secondary" href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Détailles</a>
                            <a class="btn btn-sm btn-secondary" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Éditer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">Désolé vous n'avais rien reservé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-success" href="{{ path('app_reservation_new') }}">+</a>
{% endblock %}

