{% extends 'base.html.twig' %}

{% block title %}Hello SuitesController!{% endblock %}
{% block body %}
    <style>
    </style>

    <div class="row justify-content-center">
        {% for s in suitesList %}
            <div class="col-md-4 bg-light border rounded mx-1 my-1 shadow text-center ">
                <div class="row justify-content-center">
                    <div class="col ">

                        <h3 class="h3">{{ s.Title }} </h3>
                    </div>
                    <div class="row ">
                        <div class="col mx-1 my-1">
                            <a href="{{ path('show_suites', {'idHotel': s.id}) }}">
                                <img class="card-img" alt="Qries" src="{{ s.mainPictureUrl }}"
                                     width=150" height="150">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>{{ s.price }} $ la nuit </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        {% if is_granted('ROLE_USER') %}
                            <a class=" btn  bg-primary bg-opacity-75 rounded-3"
                               href="{{ path('app_reservation_newwithids', {'idHotel': s.hotelid , 'idSuite': s.id ,'idUser':app.user.id}) }}">
                                Reserver</a>
                        {% else %}
                            <a class=" btn  bg-primary bg-opacity-75 rounded-3"
                               href="{{ path('app_reservation_newwithoutuserId', {'idHotel': s.hotelid , 'idSuite': s.id }) }}">
                                Reserver</a>
                        {% endif %}
                    </div>
                    {% if s.occupied == true %}
                        <div class="col-6">
                            <p class="btn btn-sm bg-danger bg-opacity-75 rounded-3"> Occupé </p>
                        </div>
                    {% else %}
                        <div class="col-6">
                            <p class="btn btn-sm bg-success bg-opacity-75 rounded-3"> Libre </p>
                        </div>
                    {% endif %}

                    <div class="row">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col">
                                <a class="btn btn-outline-danger btn-sm"
                                   href="{{ path('suite_delete', {'id': s.id }) }}"> Supprimer</a>
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{{ path('suite_edit', {'id': s.id }) }}">
                                    Modifier</a>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
