{% extends 'base.html.twig' %}

{% block title %}Suites{% endblock %}

{% block body %}
    <h1>Suite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Occupied</th>
                <th>OccupiedBy</th>
                <th>Price</th>
                <th>PicturesUrl</th>
                <th>Title</th>
                <th>BookingUrl</th>
                <th>Description</th>
                <th>Hotel_id</th>
                <th>MainPictureUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suite in suites %}
            <tr>
                <td>{{ suite.id }}</td>
                <td>{{ suite.name }}</td>
                <td>{{ suite.occupied ? 'Yes' : 'No' }}</td>
                <td>{{ suite.occupiedBy }}</td>
                <td>{{ suite.price }}</td>
                <td>{{ suite.picturesUrl ? suite.picturesUrl|json_encode : '' }}</td>
                <td>{{ suite.Title }}</td>
                <td>{{ suite.bookingUrl }}</td>
                <td>{{ suite.description }}</td>
                <td>{{ suite.hotelId }}</td>
                <td>{{ suite.mainPictureUrl }}</td>
                <td>
                    <a href="{{ path('app_suite_controlleradmin_show', {'id': suite.id}) }}">show</a>
                    <a href="{{ path('app_suite_controlleradmin_edit', {'id': suite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_suite_controlleradmin_new', {'idHotel': app.user.managerOfHotelId }) }}">Create new</a>
{% endblock %}
