{% extends 'base.html.twig' %}

{% block title %}Suites{% endblock %}

{% block body %}
    <h1 class="text-center">Liste de suites de votre hotel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Occupé</th>
                <th>occupé par</th>
                <th>Prix</th>
                <th>Titre</th>
                <th>Booking</th>
                <th>Description</th>
                <th>Hotel_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suite in suites %}
            <tr>
                <td>{{ suite.id }}</td>
                <td>{{ suite.name }}</td>
                <td>{{ suite.occupied ? 'Oui' : 'Non' }}</td>
                <td>{{ suite.occupiedBy }}</td>
                <td>{{ suite.price }}</td>
                <td>{{ suite.Title }}</td>
                <td>{{ suite.bookingUrl }}</td>
                <td>{{ suite.description }}</td>
                <td>{{ suite.hotelId }}</td>
                <td>
                    <a href="{{ path('app_suite_controlleradmin_show', {'id': suite.id}) }}">show</a>
                    <a href="{{ path('app_suite_controlleradmin_edit', {'id': suite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Rien n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_suite_controlleradmin_new', {'idHotel': app.user.managerOfHotelId }) }}">Create new</a>
{% endblock %}
