{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="bg-white p-5 contact-form">
        <h3 class="h3">Choisissez le motif</h3>
        <select id="hID" name="hID">
            <option class="" value="">Je souhaite poser une réclamation</option>
            <option class="" value=""> Je souhaite commander un service supplémentaire</option>
            <option class="" value="">Je souhaite en savoir plus sur une suite</option>
            <option class="" value=""> J’ai un souci avec cette application</option>
        </select>

        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}

        </div>

        <div class="form-group">
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="form-group">
            {{ form_row(form.msg, {'attr': {'class': 'form-control'}}) }}

        </div>

        <div class="form-group">
            <input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
