<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="./assets/img/Hypnos_logo.png">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="Home" href="{{ path('app_home_page') }}">Home</a>
        <ul class="navbar-nav mr-auto">

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_reservation_index') }}">Reservations</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_index') }}">User params</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_hotel_form') }}">Add hotel </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" href="{{ path('app_suite_form_s_p') }}">Add suite </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnectez-vous</a>
                </li>


            {% elseif is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_reservation_index') }}">Reservations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('app_suite_controlleradmin_index', {'idHotel': app.user.managerOfHotelId }) }}">
                        Suites</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnectez-vous</a>
                </li>

            {% elseif is_granted('ROLE_CLIENT') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_reservation_index') }}">Reservations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnectez-vous</a>
                </li>


            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Enregistrez-vous</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Connectez-vous </a>
                </li>

            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_contact') }}">Contactez-nous </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_reservation_new') }}">Réservez</a>
            </li>


        </ul>

    </nav>

</head>
<body class="container-fluid">
{% block body %}

{% endblock %}

</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
