{% extends 'base.html.twig' %}

{% block title %}Liste d'utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center">Liste d'utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Manager de (id)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.managerOfHotelId }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('app_user_show', {'id': user.id}) }}">+</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class=" m-1 btn btn-primary" href="{{ path('app_user_new') }}">Nouveau</a>
{% endblock %}
