{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1 class="h1c text-center h1">{{ user.lastName }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.mail }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Manager (id)</th>
            <td>{{ user.managerOfHotelId }}</td>
        </tr>
        </tbody>
    </table>

    <a class="m-1 btn btn-secondary btn-sm" href="{{ path('app_user_index') }}">back to list</a>

    <a class=" m-1 btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
