<header>

    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-md  navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('app_home_page') }}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_reservation_index') }}">Réservations</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user_index') }}">User params</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_hotel_form') }}">Add hôtel </a>
                            </li>

                            <li class="nav-item">

                                <a class="nav-link" href="{{ path('app_suite_form_s_p') }}">Add suite </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>


                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_reservation_index') }}">Réservations</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ path('app_suite_controlleradmin_index', {'idHotel': app.user.managerOfHotelId }) }}">
                                    Suites</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>

                        {% elseif is_granted('ROLE_CLIENT') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_reservation_index') }}">Réservations</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion </a>
                            </li>

                        {% endif %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('app_reservation_new') }}">Réservez </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contactez-nous </a>
                        </li>
                    </ul>
                </div>
            </nav>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
    </div>

</header>

